* {
    margin: 0;
    padding: 0;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 12px;

}

body {
    background-image: url("../—Slidesdocs—handdrawn style blue cute education_a698b5341c.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#container1 {

    margin-left: 730px;
    margin-top: 100px;
    width: 360px;
    height: 496px;
    border: solid black 1px;
    background-color: #ECE8E8;
    border-radius: 5px;
    box-shadow: 10px 10px 25px -4px rgba(0, 0, 0, 0.75);
}



#headerSci {
    margin-top: 6px;
    display: flex;
}

.col1 {
    width: 265px;
    height: 44px;
    margin-left: 20px;
    border: #ECE8E8 solid 1px;
    font-size: 36px;
    font-weight: 100;
    text-align: right;
}

.résultat {
    width: 265px;
    height: 25px;
    margin-left: 20px;
    border: #ECE8E8 solid 1px;

}

.select {
    border: 0.5px solid black;
    margin-top: 6px;

}

button {
    width: 50px;
    height: 45px;
    background-color: #F08F1C;
    color: #ECE8E8;
    font-size: 18px;
    border-radius: 15px;
    margin-top: 0px;
    margin-left: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

button:active {
    transform: scale(0.9) rotate(5deg);
}

#c5l7 {
    background-color: #fc4e03ab;
}

#tableCalc {
    width: 100%;
}

#memoryLine {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}

#memoryLine :hover {
    background-color: #575656;
    color: #ECE8E8;
}

.touche {
    width: 60px;
    height: 45px;
    border-radius: 25px;
    border: none;
    margin-bottom: 6px;
    margin-left: 5px;

    box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.75);

}

i {
    width: 23px;
    height: 24px;
}

#boutons {
    width: 100%;
    margin-left: 10px;
    margin-top: 10px;

}

.noir {
    background-color: #575656;
}

.orange {
    background-color: #F08F1C;
}

.gris {
    background-color: #ACA4A4;
}