* {
    margin: 0;
    padding: 0;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 12px;

}


body {
    background-image: url("../—Slidesdocs—handdrawn style blue cute education_a698b5341c.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


#container {
    margin-left: 730px;
    margin-top: 100px;
    width: 360px;
    height: 496px;
    border: solid rgb(188, 186, 186) 20px;
    background-color: #ECE8E8;
    border-radius: 20px;
    box-shadow: 10px 10px 25px -4px rgba(0, 0, 0, 0.75);
    padding: 20px;
}

.row {
    display: flex;
}

#btnStd {
    margin-left: -10px;
}

.key {
    width: 70px;
    height: 50px;
    border: none;
    border-radius: 25px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    font-size: 18px;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.75);
    position: relative;
    overflow: hidden;
    transition: transform 0.3s;
}

.key:hover {
    transform: scale(1.1);
    z-index: 1;
}


.key.gris {
    background-color: #ACA4A4;
    color: #333;
}

.key.orange {
    background-color: #F08F1C;
    color: #fff;
}

.key.noir {
    background-color: #575656;
    color: #fff;
}


.select {
    width: 50px;
    height: 45px;
    background-color: #F08F1C;
    border: none;
    border-radius: 15px;
    margin-top: 6px;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    font-size: 22px;
    cursor: pointer;
}

.select:hover {
    background-color: #ff9c00;
    color: #fff;
    width: 55px;
    height: 45px;
    border-radius: 100px;
}

#result {
    display: flex;
    width: 260px;
    height: 35px;
    margin-left: 70px;
    margin-top: -40px;
    border: #ECE8E8 solid 1px;
    font-size: 34px;
    font-weight: 100;
    text-align: right;
    background-color: rgb(250, 252, 251);
    padding-right: 10px;
    border-radius: 10px;
}

#tableCalc {
    width: 100%;


    cursor: pointer;
}

#memoryLine {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}

#memoryLine :hover {
    background-color: #575656;
    color: #ECE8E8;
}

.keyS {
    width: 60px;
    height: 45px;
    border: none;
    border-radius: 50px;
    text-align: center;
    line-height: 45px;
    cursor: pointer;
    font-size: 18px;
    margin-left: 15px;
    margin-bottom: 12px;
    margin-top: 5px;
    box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.75);
    /* position: relative; */
    /* overflow: hidden; */
    transition: transform 0.3s;
}

.keyS:hover {
    transform: scale(1.1);
    z-index: 1;
}


.keyS.gris {
    background-color: #ACA4A4;
}

.keyS.orange {
    background-color: #F08F1C;
    color: #fff;
}

.keyS.noir {
    background-color: #575656;
    color: #fff;
}

/*   
.col1 {
    width: 260px;
    height: 35px;
    margin-left: 20px;
    border: #ECE8E8 solid 1px;
    border-radius: 10px;
    font-size: 34px;
    font-weight: 100;
    text-align: right;
    background-color: #f6f9f6;
    padding-right: 10px;
}

.key {
    display: flex;
    width: 260px;
    height: 35px;
    margin-left: 20px;
    border: #ECE8E8 solid 1px;
    font-size: 34px;
    font-style: oblique;
    font-weight: 100;
    text-align: right;
    background-color: rgb(250, 252, 251);
    padding-right: 10px;
    border-radius: 10px;
}





button {
    width: 50px;
    height: 45px;
    background-color: #F08F1C;
    color: #ECE8E8;
    font-size: 20px;
    border-radius: 15px;
    margin-top: 0px;
    margin-left: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

button:active {
    transform: scale(0.9) rotate(5deg);
}



#btnEqual {
    background-color: #fc4e03ab;
}



#memoryLine {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}

#memoryLine :hover {
    background-color: #b1adad;
    color: #ECE8E8;
}



i {
    width: 23px;
    height: 24px;
}

#boutons {
    width: 100%;
    /* margin-left: 20px; */
/* margin-top: 10px;

}

.noir {
    background-color: #575656;
}

.orange {
    background-color: #F08F1C;
}

.gris {
    background-color: #ACA4A4;
}

#btnSci {
    display: none;
} */

/* #container1 {

    margin-left: 730px;
    margin-top: 100px;
    width: 360px;
    height: 496px;
    border: solid rgb(188, 186, 186) 20px;
    background-color: #ECE8E8;
    border-radius: 20px;
    box-shadow: 10px 10px 25px -4px rgba(0, 0, 0, 0.75);
}

#headerSci {
    margin-top: 6px;
    display: flex;
}

.col1 {

    width: 260px;
    height: 35px;
    margin-left: 20px;
    border: #ECE8E8 solid 1px;
    border-radius: 10px;
    font-size: 34px;
    font-weight: 100;
    text-align: right;
    background-color: #f6f9f6;
    padding-right: 10px;
}

.résultat {
    width: 260px;
    height: 35px;
    margin-left: 20px;
    border: #ECE8E8 solid 1px;
    font-size: 34px;
    font-weight: 100;
    text-align: right;
    background-color: rgb(250, 252, 251);
    padding-right: 10px;
    border-radius: 10px;
} */

/* .select {
    border: none;
    margin-top: 6px;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);

}
.touche {
    width: 70px;
    height: 50px;
    border-radius: 25px;

    margin-bottom: 10px;
    margin-lefborder: none;
    t: 14px;

    box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.75);

}
button {
    width: 50px;
    height: 45px;
    background-color: #F08F1C;
    color: #ECE8E8;
    font-size: 18px;
    border-radius: 15px;
    margin-top: 0px;
    margin-left: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

button:active {
    transform: scale(0.9) rotate(5deg);
}

#btnEqual {
    background-color: #fc4e03ab;
}

#tableCalc {
    width: 100%;
}

#memoryLine {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}

#memoryLine :hover {
    background-color: #575656;
    color: #ECE8E8;
} */

/* .toucheSci {
    width: 15%;
    height: 45px;
    border-radius: 25px;
    border: none;
    margin-bottom: 8px;
    margin-left: 15px;
    box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.75);

}

i {
    width: 23px;
    height: 24px;
}

#boutonsB {
    width: 100%;
    margin-left: -5px;
    margin-top: 10px;


}

.noir {
    background-color: #575656;
}

.orange {
    background-color: #F08F1C;
}

.gris {
    background-color: #ACA4A4;
} */

/* .rowA,
.rowB {
    display: none;
} */

/* #result {
    width: 200px;
    height: 30px;
    text-align: right;
    font-size: 18px;
} */